repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.10
  hooks:
  - id: ruff-check
    args: [--select=I, --fix]
  - id: ruff-format

- repo: https://github.com/rbubley/mirrors-prettier
  rev: v3.7.4
  hooks:
  - id: prettier
    args: [--end-of-line=crlf, --print-width=100]
    files: ^app/static/(js/.*\.js|css/.*\.css)$

- repo: https://github.com/Riverside-Healthcare/djLint
  rev: v1.36.4
  hooks:
  - id: djlint-reformat
    args: [--indent=2]
    files: \.html$
  # - id: djlint-jinja
  #   args: [--indent=2]
  #   files: \.html$
  # - id: djlint-reformat-jinja
  #   args: [--indent=2]
  #   files: \.html$