/* * {
  border: 1px solid blue;
} */

h1 {
  padding: 1rem 0;
}

.sidebar-item {
  font-size: 0.8rem;
}

.sidebar-item:hover {
  /* color: var(--bs-green) !important; */
  border-width: 1px 0;
  border-style: solid;
  border-color: var(--bs-green);
  margin: -1px 0 0;
}

.navbar {
  background-color: var(--bs-green);
}

.crop-table {
  width: 50%;
}

.crop-table td th {
  width: calc(100% / 5);
}

.align-right {
  text-align: right;
}

#sidebar {
  height: calc(100vh - 56px);
  overflow: auto;
  /* -ms-overflow-style: none;
  scrollbar-width: none; */
}

/* #siderbar::-webkit-scrollbar {
  display: none;
} */

/* .main {
  display: flex;
  flex-direction: row;
} */

/* .container {
  width: 75%;
} */
