body,
html {
  height: 100%;
}

:root {
  --content-height: calc(100vh - 56px);
}

main {
  height: var(--content-height);
  scrollbar-width: thin;
  overflow: auto;
}

.navbar {
  background-color: var(--bs-green);
}

.content {
  /* background-color: antiquewhite; */
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.table-action {
  white-space: nowrap;
  width: 1em;
}

#sidebar {
  background-color: transparent;
  height: var(--content-height);
  overflow: auto;
  margin-right: 0;
  scrollbar-width: thin;
  scrollbar-base-color: var(--bs-dark);
  scrollbar-track-color: var(--bs-gray-600);
}

.sidebar-item {
  font-size: 0.8rem;
  border-color: var(--bs-gray-800);
}

.sidebar-item.active {
  background-color: var(--bs-secondary) !important;
  border-color: var(--bs-gray-500) !important;
}

.sidebar-item:hover {
  border-width: 1px 0;
  border-style: solid;
  border-color: var(--bs-gray-500);
  margin: -1px 0 0;
}

/* custom scrollbar for chrome and firefox*/

#sidebar::-webkit-scrollbar {
  width: 5px;
}

#sidebar::-webkit-scrollbar-thumb {
  background: var(--bs-gray-500);
  border-radius: 10px;
}

#sidebar::-webkit-scrollbar-thumb:hover {
  background: var(--bs-green);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #bbb;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--bs-green);
}
