<div class="table-responsive">
  <table class="table table-sm table-demand">
    <thead>
      <tr>
        <th scope="col">Demands</th>
        <th scope="col">N</th>
        <th scope="col">
          P<sub>2</sub>O<sub>5</sub>
        </th>
        <th scope="col">
          K<sub>2</sub>O
        </th>
        <th scope="col">MgO</th>
        <th scope="col">S</th>
        <th scope="col">CaO</th>
        <th scope="col">
          NH<sub>4</sub>
        </th>
      </tr>
    </thead>
    <tbody>
      {% for cult in field.cultivations if cultivation.cultivation_type == cult.cultivation_type %}
        {% for balance in cult.balances["cultivation"] if not balance.is_empty or balance.title == "Crop needs" %}
          <tr>
            <th scope="row">{{ balance.title }}</th>
            <td>{{ balance.n | format_number(".0f") }}</td>
            <td>{{ balance.p2o5 | format_number(".0f") }}</td>
            <td>{{ balance.k2o | format_number(".0f") }}</td>
            <td>{{ balance.mgo | format_number(".0f") }}</td>
            <td>{{ balance.s | format_number(".0f") }}</td>
            <td>{{ balance.cao | format_number(".0f") }}</td>
            <td>{{ balance.nh4 | format_number(".0f") }}</td>
          </tr>
        {% endfor %}
      {% endfor %}
    </tbody>
  </table>
</div>
