{% from 'utils.html' import render_icon %}

<tr>
  <th scope="row">{{ field.year }}</th>
  <td>{{ field.partition }}</td>
  <td>{{ field.area }}</td>
  <td>{{ field.field_type.value }}</td>
  <td>
    {% if field.red_region %}
      {{ render_icon("check-circle", extra_classes="color-green") }}
    {% else %}
      {{ render_icon("x-circle", extra_classes="text-danger") }}
    {% endif %}
  </td>
  <td class="table-action d-print-none">
    <div class="btn-group">
      <button class="btn btn-sm btn-primary pc-only"
              hx-get="/fields/{{ field.id }}/edit">Edit</button>
      <button class="btn btn-sm btn-primary mobile-only"
              type="button"
              data-bs-toggle="modal"
              data-bs-target="#modal"
              data-form="field"
              data-modal="edit"
              data-id="{{ field.id }}">Edit</button>
      {# <button class="btn btn-sm btn-primary mobile-only" #}
      {# hx-get="modal/fields/{{ field.id }}/edit">Edit</button> #}
      <button class="btn btn-sm btn-danger"
              hx-confirm='Are you sure you want to permanently delete {{ field.year }}-{{ field.partition }} and all cultivation & fertilization data associated with it?'
              hx-target="closest tr"
              hx-swap="outerHTML swap:500ms"
              hx-delete="/fields/{{ field.id }}/delete">Delete</button>

    </div>
  </td>
</tr>
