{% extends "layout.html" %}
{% import 'bootstrap5/utils.html' as utils %}

{% block title %}
  {% if title %}
    {{ title }} | AgroPlan
  {% else %}
    {{ 'AgroPlan' }}
  {% endif %}
{% endblock title %}

{% block navbar %}
  {% include "navbar.html" %}
{% endblock navbar %}

{% block sidebar %}
  {% if not sidebar_disabled %}
    {% include "sidebar.html" %}
  {% endif %}
{% endblock sidebar %}

{% block content %}
  <div class="col-xl-4 col-lg-6 col-md-8">
    {% with message = utils.render_messages(dismissible=True) %}
      {% if message %}{{ message }}{% endif %}
    {% endwith %}
  </div>
  {# application content needs to be provided in the app_content block #}
  {% block app_content %}
  {% endblock app_content %}
{% endblock content %}

{% block footer %}
  {% if current_user.is_anonymous %}
  {% else %}
    {% if request.endpoint and request.endpoint == "main.field" %}
      {% include "field_footer.html" %}
    {% else %}
      {% include "footer.html" %}
    {% endif %}
  {% endif %}
{% endblock footer %}

{% block scripts %}
  {{ super() }}
{% endblock scripts %}
