{% extends "layout.html" %}
{% import 'bootstrap5/utils.html' as utils %}

{% block title %}
  {% if title %}
    {{ title }} | AgroPlan
  {% else %}
    {{ 'AgroPlan' }}
  {% endif %}
{% endblock title %}

{% block navbar %}
  {% include "navbar.html" %}
{% endblock navbar %}

{% block sidebar %}
  {% if not sidebar_disabled %}
    {% include "sidebar.html" %}
  {% endif %}
{% endblock sidebar %}

{% block content %}
  <main class="bg-white">
    <div class="container-fluid" id="content">
      {% with message = utils.render_messages() %}
        {% if message %}<div class="alert alert-info" role="alert">{{ message }}</div>{% endif %}
      {% endwith %}

      {# application content needs to be provided in the app_content block #}
      {% block app_content %}
      {% endblock app_content %}
    </div>
  </main>
{% endblock content %}

{% block footer %}
  {% if field_footer %}
    {% include "field_footer.html" %}
  {% else %}
    {% include "footer.html" %}
  {% endif %}
{% endblock footer %}

{% block scripts %}
  {{ super() }}
{% endblock scripts %}
