{% extends "base.html" %}
{% from 'utils.html' import render_icon %}

{% block app_content %}
  <div class="container">
    <button class="btn btn-success fw-500 d-print-none"
            type="button"
            data-bs-toggle="modal"
            data-bs-target="#modal"
            data-form="fertilizer"
            data-modal="new">Add fertilizer</button>
    <table class="table table-sm table-hover caption-top align-middle">
      <caption>List of organic fertilizers</caption>
      <thead class="no-border-top">
        <tr class="text-center">
          <th class="text-start" scope="col">Name</th>
          <th scope="col">Year</th>
          <th scope="col">Type</th>
          <th scope="col">Unit</th>
          <th scope="col">N</th>
          <th scope="col">
            P<sub>2</sub>O<sub>5</sub>
          </th>
          <th scope="col">
            K<sub>2</sub>O
          </th>
          <th scope="col">MgO</th>
          <th scope="col">S</th>
          <th scope="col">CaO</th>
          <th scope="col">
            NH<sub>4</sub>
          </th>
          <th colspan="2" scope="col">Usage</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for fert in fertilizers if fert.fert_class.name == "organic" %}
          <tr data-id="{{ fert.id }}">
            <th scope="row">{{ fert.name }}</th>
            <td class="text-center">{{ fert.year }}</td>
            <td>{{ fert.fert_type.value }}</td>
            <td class="text-center">{{ fert.unit.value }}</td>
            <td class="text-end">{{ fert.n }}</td>
            <td class="text-end">{{ fert.p2o5 }}</td>
            <td class="text-end">{{ fert.k2o }}</td>
            <td class="text-end">{{ fert.mgo }}</td>
            <td class="text-end">{{ fert.s }}</td>
            <td class="text-end">{{ fert.cao }}</td>
            <td class="text-end">{{ fert.nh4 }}</td>
            <td class="text-end">{{ fert.usage() | format_number(".1f") }}</td>
            <td>{{ fert.unit.value + "/ha" }}</td>
            <td class="d-print-none">
              <button class="btn btn-link btn-edit"
                      type="button"
                      data-bs-toggle="modal"
                      data-bs-target="#modal"
                      data-form="fertilizer"
                      data-modal="edit"
                      data-id="{{ fert.id }}">{{ render_icon("pencil-square", extra_classes="color-green") }}</button>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <table class="table table-sm table-hover caption-top align-middle">
      <caption>List of mineral fertilizers</caption>
      <thead class="no-border-top">
        <tr class="text-center">
          <th class="text-start" scope="col">Name</th>
          <th scope="col">Type</th>
          <th scope="col">Active</th>
          <th scope="col">Unit</th>
          <th scope="col">Price</th>
          <th scope="col">N</th>
          <th scope="col">
            P<sub>2</sub>O<sub>5</sub>
          </th>
          <th scope="col">
            K<sub>2</sub>O
          </th>
          <th scope="col">MgO</th>
          <th scope="col">S</th>
          <th scope="col">CaO</th>
          <th scope="col">
            NH<sub>4</sub>
          </th>
          <th class="text-start" colspan="2" scope="col">Usage {{ current_user.year }}</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for fert in fertilizers if fert.fert_class.name == "mineral" %}
          <tr data-id="{{ fert.id }}">
            <th scope="row">{{ fert.name }}</th>
            <td>{{ fert.fert_type.value }}</td>
            <td class="text-center">
              {% if fert.active %}
                {{ render_icon("check-circle", extra_classes="color-green") }}
              {% else %}
                {{ render_icon("x-circle", extra_classes="text-danger") }}
              {% endif %}
            </td>
            <td class="text-center">{{ fert.unit.value }}</td>
            <td class="text-end">{{ fert.price }}</td>
            <td class="text-end">{{ fert.n }}</td>
            <td class="text-end">{{ fert.p2o5 }}</td>
            <td class="text-end">{{ fert.k2o }}</td>
            <td class="text-end">{{ fert.mgo }}</td>
            <td class="text-end">{{ fert.s }}</td>
            <td class="text-end">{{ fert.cao }}</td>
            <td class="text-end">{{ fert.nh4 }}</td>
            <td class="text-end">{{ fert.usage(current_user.year) | format_number(".1f") }}</td>
            <td>{{ fert.unit.value + "/ha" }}</td>
            <td class="d-print-none">
              <button class="btn btn-link btn-edit"
                      type="button"
                      data-bs-toggle="modal"
                      data-bs-target="#modal"
                      data-form="fertilizer"
                      data-modal="edit"
                      data-id="{{ fert.id }}">{{ render_icon("pencil-square", extra_classes="color-green") }}</button>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock app_content %}
