{% extends "base.html" %}
{% from 'utils.html' import render_icon %}

{% block app_content %}
  <div class="container">
    <button class="btn btn-sm btn-success fw-500 d-print-none"
            type="button"
            data-bs-toggle="modal"
            data-bs-target="#modal"
            data-form="base_field"
            data-modal="new">✚ New</button>
    <p class="my-2">List of base fields</p>
    {% include "_fields_base_fields.html" %}
    <div class="center">
      <img class="htmx-indicator"
           height="64px"
           width="64px"
           aspect="fixed"
           alt="Spinner for loading."
           id="page-indicator"
           src="{{ url_for('static', filename='img/spinner_bars.svg') }}" />
    </div>
  </div>

{% endblock app_content %}
