{% extends "base.html" %}

{% block app_content %}
  <div class="container">
    <button class="btn btn-sm btn-success fw-500 d-print-none"
            type="button"
            data-bs-toggle="modal"
            data-bs-target="#modal"
            data-form="basefield"
            data-modal="new">
      ✚ New
    </button>
    <p class="my-2">List of base fields</p>
    {% for base_field in base_fields %}
      <div class="accordion">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#base{{ loop.index }}"
                    data-id="{{ base_field.id }}">
              <strong>
                {{ "{prefix:02}-{suffix} {name}".format(prefix=base_field.prefix, suffix=base_field.suffix, name=base_field.name) }}
              </strong>
              <i class="btn-edit fa-solid fa-pencil ms-2"
                 data-bs-toggle="modal"
                 data-bs-target="#modal"
                 data-form="basefield"
                 data-modal="edit"></i>
            </button>
          </h2>
          <div class="accordion-collapse collapse" id="base{{ loop.index }}">
            <div class="accordion-body pt-0">
              {% include "_field.html" %}
              <button class="btn btn-sm btn-success fw-500 d-print-none"
                      type="button"
                      data-bs-toggle="modal"
                      data-bs-target="#modal"
                      data-form="field"
                      data-modal="new">
                ✚ New
              </button>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    <script src="{{ url_for('static', filename='js/fields.js') }}"></script>

  {% endblock app_content %}
