{% extends "base.html" %}

{% block app_content %}
  <div class="row" id="field" data-field-id="{{ base_field.id }}">
    <h1>
      {{ "{prefix:02}-{suffix} {name}".format(prefix=base_field.prefix, suffix=base_field.suffix, name=base_field.name) }}
    </h1>
    {% for field in base_field.fields %}
      {% if field.year == current_user.year %}
        <h6>{{ field.field_type.value }} — {{ field.area | format_number(".2f", "ha") }}</h6>
      {% endif %}
    {% endfor %}
  </div>
  <!-- field nav -->
  <nav class="nav nav-pills flex-column flex-sm-row border my-2"
       id="field-tab">
    <button class="nav-link flex-sm-fill text-sm-center active"
            id="cultivation-tab"
            data-bs-toggle="tab"
            data-bs-target="#cultivation"
            type="button"
            role="tab"
            aria-controls="cultivation"
            aria-selected="true">
      Cultivation
    </button>
    <button class="nav-link flex-sm-fill text-sm-center"
            id="fertilization-tab"
            data-bs-toggle="tab"
            data-bs-target="#fertilization"
            type="button"
            role="tab"
            aria-controls="fertilization"
            aria-selected="false">
      Fertilization
    </button>
    <button class="nav-link flex-sm-fill text-sm-center"
            id="soil-tab"
            data-bs-toggle="tab"
            data-bs-target="#soil"
            type="button"
            role="tab"
            aria-controls="soil"
            aria-selected="false">
      Soil
    </button>
    <button class="nav-link flex-sm-fill text-sm-center"
            id="info-tab"
            data-bs-toggle="tab"
            data-bs-target="#info"
            type="button"
            role="tab"
            aria-controls="info"
            aria-selected="false">
      Info
    </button>
  </nav>
  <div class="tab-content" id="field-tabContent">
    <!-- cult data -->
    <div class="tab-pane fade show active"
         id="cultivation"
         role="tabpanel"
         aria-labelledby="cultivation-tab">
      <div class="row">
        <div class="col-lg-8 col-md-9 table-responsive">
          <table class="table table-sm table-hover caption-top align-middle">
            <caption>List of crops</caption>
            <thead class="no-border-top">
              <tr>
                <th scope="col">Year</th>
                <th scope="col">Class</th>
                <th scope="col">Name</th>
                <th scope="col">Size</th>
                <th scope="col">Yield</th>
              </tr>
            </thead>
            <tbody>
              {% for field in base_field.fields %}
                {% if field.year == current_user.year %}
                  {% for cultivation in field.cultivations %}
                    <tr data-id="{{ cultivation.id }}">
                      <th scope="row">{{ field.year }}</th>
                      <td>{{ cultivation.crop_class.value }}</td>
                      <td>{{ cultivation.crop.name }}</td>
                      <td>{{ field.area | format_number(".2f") }}</td>
                      <td>{{ cultivation.crop_yield | format_number(".0f", "dt/ha") }}</td>
                      <td class="table-action d-print-none">
                        <button class="btn btn-link p-0">
                          <i class="fa-solid fa-pencil"></i>
                        </button>
                      </td>
                    </tr>
                  {% endfor %}
                {% endif %}
              {% endfor %}
            </tbody>
          </table>
        </div>
        {# <div class="col-sm"><p>Random none specific text</p></div> #}
      </div>
    </div>
    <!-- fert data -->
    <div class="tab-pane fade"
         id="fertilization"
         role="tabpanel"
         aria-labelledby="fertilization-tab">
      <div class="row">
        <div class="col-lg-8 col-md-9 table-responsive">
          <table class="table table-sm table-hover caption-top align-middle">
            <caption>List of organic fertilizations</caption>
            <thead class="no-border-top">
              <tr>
                <th scope="col">Year</th>
                <th scope="col">Crop</th>
                <th scope="col">Measure</th>
                <th scope="col">Fertilizer</th>
                <th scope="col">Amount</th>
              </tr>
            </thead>
            <tbody>
              {% for field in base_field.fields %}
                {% if field.year == current_user.year %}
                  {% for fert in field.fertilizations %}
                    {% if fert.fertilizer.fert_class.name == "organic" %}
                      <tr data-id="{{ fert.id }}">
                        <th scope="row">{{ field.year }}</th>
                        <td>{{ fert.cultivation.crop.name }}</td>
                        <td>{{ fert.measure.value }}</td>
                        <td>{{ fert.fertilizer.name }}</td>
                        <td>
                          {{ fert.amount | format_number(".1f", "dt/ha") }}
                        </td>
                        <td class="table-action d-print-none">
                          <a href="#">
                            <i class="fa-solid fa-pencil"></i>
                          </a>
                        </td>
                      </tr>
                    {% endif %}
                  {% endfor %}
                {% endif %}
              {% endfor %}
            </tbody>
          </table>
          <table class="table table-sm table-hover caption-top align-middle">
            <caption>List of mineral fertilizations</caption>
            <thead class="no-border-top">
              <tr>
                <th scope="col">
                  Year
                </th>
                <th scope="col">
                  Crop
                </th>
                <th scope="col">
                  Measure
                </th>
                <th scope="col">
                  Fertilizer
                </th>
                <th scope="col">
                  Amount
                </th>
              </tr>
            </thead>
            <tbody>
              {% for field in base_field.fields %}
                {% if field.year == current_user.year %}
                  {% for fert in field.fertilizations %}
                    {% if fert.fertilizer.fert_class.name != "organic" %}
                      <tr data-id="{{ fert.id }}">
                        <th scope="row">
                          {{ field.year }}
                        </th>
                        <td>
                          {{ fert.cultivation.crop.name }}
                        </td>
                        <td>
                          {{ fert.measure.value }}
                        </td>
                        <td>
                          {{ fert.fertilizer.name }}
                        </td>
                        <td>
                          {{ fert.amount | format_number(".1f", "dt/ha") }}
                        </td>
                        <td class="table-action d-print-none">
                          <a href="#">
                            <i class="fa-solid fa-pencil"></i>
                          </a>
                        </td>
                      </tr>
                    {% endif %}
                  {% endfor %}
                {% endif %}
              {% endfor %}
            </tbody>
          </table>
        </div>
        {# <div class="col-sm"><p>Random none specific text</p></div> #}
      </div>
    </div>
    <!-- soil data -->
    <div class="tab-pane fade"
         id="soil"
         role="tabpanel"
         aria-labelledby="soil-tab">
      <div class="row">
        <div class="col-lg-8 col-md-9 table-responsive">
          <table class="table table-sm table-hover caption-top align-middle">
            <caption>List of soil samples</caption>
            <thead class="no-border-top">
              <tr>
                <th scope="col">
                  Year
                </th>
                <th scope="col">
                  Type
                </th>
                <th scope="col">
                  Humus
                </th>
                <th scope="col">
                  pH
                </th>
                <th scope="col">
                  P2O5
                </th>
                <th scope="col">
                  K2O
                </th>
                <th scope="col">
                  Mg
                </th>
              </tr>
            </thead>
            <tbody>
              {% for sample in base_field.soil_samples %}
                <tr data-id="{{ sample.id }}">
                  <th scope="row">
                    {{ sample.year }}
                  </th>
                  <td>
                    {{ sample.soil_type.value }}
                  </td>
                  <td>
                    {{ sample.humus.value }}
                  </td>
                  <td>
                    {{ sample.ph | format_number(".1f") }}
                  </td>
                  <td>
                    {{ sample.p2o5 | format_number(".1f") }}
                  </td>
                  <td>
                    {{ sample.k2o | format_number(".1f") }}
                  </td>
                  <td>
                    {{ sample.mg | format_number(".1f") }}
                  </td>
                  <td class="table-action d-print-none">
                    <a href="#">
                      <i class="fa-solid fa-pencil"></i>
                    </a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        {# <div class="col-sm"><p>Random none specific text</p></div> #}
      </div>
    </div>
    <!-- info data -->
    <div class="tab-pane fade"
         id="info"
         role="tabpanel"
         aria-labelledby="info-tab">
      <div class="row">
      <!-- test table form -->
        <div class="form-table">
          <div class="form-thead">
            <div class="form-tr">
              <div class="form-td">One</div>
              <div class="form-td">Two</div>
              <div class="form-td">Three</div>
              <div class="form-td">Four</div>
              <div class="form-td"></div>
            </div>
          </div>
          <div class="form-tbody">
            <form class="form-tr">
              <div class="form-td">1</div>
              <div class="form-td">2</div>
              <div class="form-td">3</div>
              <div class="form-td">1234</div>
              <div class="form-td action">
                {# <button type="button" id="test-btn" onclick="edit(this);">edit</button> #}
                <button class="btn btn-sm btn-primary" type="button" id="test-btn" onclick="edit(this);"><i class="fa-solid fa-pen-to-square"></i></button>
                <button class="btn btn-sm btn-success visually-hidden" type="button" onclick="save(this);">save</button>
                <button class="btn btn-sm btn-danger visually-hidden" type="button" onclick="cancel(this);">cancel</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="{{ url_for('static', filename='/js/field.js') }}"></script>
  {# <script>
    function edit(element){
      var tr = element.parentElement.parentElement;
      if(!tr.classList.contains("editing")) {
        tr.classList.toggle("editing");
        var td = tr.getElementsByClassName("form-td")
        for (let elem of td) {
          if(!elem.classList.contains("action")){
            var value = elem.textContent;
            elem.textContent = "";
            var input = document.createElement("input")
            input.type = "text"
            input.setAttribute("value", value)
            elem.appendChild(input);
          } else {
            elem.querySelector("BUTTON").textContent = "save";
          }
        }
      } else {
        tr.classList.toggle("editing");
        var td = tr.getElementsByClassName("form-td")
        for (let elem of td) {
          if(!elem.classList.contains("action")){
            var input = elem.querySelector("INPUT");
            elem.textContent = input.value;
          } else {
            elem.querySelector("BUTTON").textContent = "edit";
          }
        }
      }
    }
  </script> #}

{% endblock app_content %}
