<div class="bg-green border-top border-dark">
  <div class="row text-center m-0 py-2">
    <div class="col-md-3 col-sm-auto"></div>
    <div class="col-xxl-4 col-lg-5 col-md-6 col">
      <div class="row fw-500">
        <div class="col p-0">
          <div class="pb-1 text-white">N</div>
          <div class="border bg-light" id="n">-</div>
        </div>
        <div class="col p-0">
          <div class="pb-1 text-white">
            P<sub>2</sub>O<sub>5</sub>
          </div>
          <div class="border bg-light" id="p2o5">-</div>
        </div>
        <div class="col p-0">
          <div class="pb-1 text-white">
            K<sub>2</sub>O
          </div>
          <div class="border bg-light" id="k2o">-</div>
        </div>
        <div class="col p-0">
          <div class="pb-1 text-white">MgO</div>
          <div class="border bg-light" id="mgo">-</div>
        </div>
        <div class="col p-0">
          <div class="pb-1 text-white">S</div>
          <div class="border bg-light" id="s">-</div>
        </div>
        <div class="col p-0">
          <div class="pb-1 text-white">CaO</div>
          <div class="border bg-light" id="cao">-</div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-auto"></div>
  </div>
</div>
