<!doctype html>
<html lang="en">
  <head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="../static/img/favicon.png" type="image/x-icon">
    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }}
    {% block styles %}{% endblock %}

    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
  </head>
  <body>
    <header>
      <!-- Your nav bar -->
      {% block navbar %}{% endblock navbar %}
    </header>

    <div class="container-fluid d-flex p-0" id="main">
        <!-- Your side bar -->
        {% block sidebar %}{% endblock sidebar %}

        <main class="col overflow-auto bg-light">
          <!-- Your page content -->
          {% block content %}{% endblock %}
        </main>
    </div>

    <footer>
      <!-- Your footer -->
      {% block footer %}{% endblock footer %}
    </footer>

    {% block scripts %}
      <!-- Optional JavaScript -->
      {{ bootstrap.load_js() }}
    {% endblock %}
  </body>
</html>