<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="description" content="Agro planning software">
      <meta name="keywords" content="DÜV, Agro, Planning, Fertilization">
      <meta name="author" content="Philipp Brockmann">
      <meta name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=yes">
      <link rel="shortcut icon"
            href="../static/img/favicon-64.png"
            type="image/x-icon">
      <!-- PWA -->
      <link rel="manifest" href="../static/manifest.json" />
      <!-- Bootstrap CSS -->
      {{ bootstrap.load_css() }}
      <!-- HTMX Local distro -->
      <script src="{{ url_for('static', filename='htmx.org@1.9.12/htmx.min.js')}}"
              crossorigin="anonymous"></script>
      <link rel="custom stylesheet"
            href="{{ url_for('static', filename='css/style.css') }}">
      {% block styles %}
      {% endblock styles %}

      <title>
        {% block title %}
        {% endblock title %}
      </title>
    {% endblock head %}
  </head>
  <body>
    <header>
      <!-- Nav bar -->
      {% block navbar %}
      {% endblock navbar %}
    </header>

    <div class="container-fluid d-flex p-0">
      <!-- Side bar -->
      {% block sidebar %}
      {% endblock sidebar %}

      <!-- Page content -->
      <div class="col" id="content">
        <!-- Main content -->
        <main class="container-fluid">
          {% block content %}
          {% endblock content %}
        </main>
        <!-- Footer -->
        <footer class="container-fluid p-0">
          {% block footer %}
          {% endblock footer %}
        </footer>
      </div>
    </div>

    {% block scripts %}
      <!-- Optional JavaScript -->
      {{ bootstrap.load_js() }}
      <script type="module" src="{{ url_for('static', filename='js/index.js') }}"></script>
      <!-- Add csrf token to all htmx requests -->
      <script type="text/javascript">
        document.body.addEventListener('htmx:configRequest', (event) => {
          event.detail.headers['X-CSRFToken'] = '{{ csrf_token() }}';
        })
      </script>
    {% endblock scripts %}
  </body>
</html>
