<!doctype html>
<html lang="en">
  <head>
    {% block head %}
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="description" content="Agro planning software">
      <meta name="keywords" content="DÜV, Agro, Planning, Fertilization">
      <meta name="author" content="Philipp Brockmann">
      <meta name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=yes">
      <link rel="shortcut icon"
            href="../static/img/favicon.png"
            type="image/x-icon">
      <!-- Bootstrap CSS -->
      {{ bootstrap.load_css() }}
      {% block styles %}
      {% endblock styles %}

      <title>
        {% block title %}
        {% endblock title %}
      </title>
    {% endblock head %}
  </head>
  <body>
    <header>
      <!-- Nav bar -->
      {% block navbar %}
      {% endblock navbar %}
    </header>

    <div class="container-fluid d-flex p-0">
      <!-- Side bar -->
      {% block sidebar %}
      {% endblock sidebar %}

      <!-- Page content -->
      <div class="col overflow-auto d-flex flex-column justify-content-between"
           id="main">
        <!-- Main content -->
        {% block content %}
        {% endblock content %}
        <!-- Footer -->
        {% block footer %}
        {% endblock footer %}
      </div>
    </div>

    {% block scripts %}
      <!-- Optional JavaScript -->
      {{ bootstrap.load_js() }}
    {% endblock scripts %}
  </body>
</html>
