{% from "utils.html" import render_nav_item %}

<nav class="navbar nav-masthead sticky-top navbar-expand-lg navbar-dark p-2">
  <div class="d-flex flex-row">
    {% if fields or (request.endpoint and request.endpoint == "main.index" or request.endpoint == "main.field") %}
      <button class="navbar-toggler"
              type="button"
              id="sidebarToggle"
              aria-expanded="false"
              aria-label="Toggle sidebar">
        <span class="navbar-toggler-icon"></span>
      </button>
    {% endif %}
    <a class="navbar-brand ps-2" href="{{ url_for('main.home') }}">AgroPlan</a>
  </div>
  <button class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse collapse" id="navbarNav">
    <ul class="navbar-nav">
      {% if not current_user.is_anonymous %}
        {{ render_nav_item("main.field_overview", "Field", _use_li=True)}}
        {{ render_nav_item("main.crop", "Crop", _use_li=True) }}
        {{ render_nav_item("main.fertilizer", "Fertilizer", _use_li=True) }}
      {% endif %}
    </ul>
    <ul class="navbar-nav ms-auto">
      <!-- display year form if in index or field !-->
      {% if request.endpoint and request.endpoint == "main.index" or request.endpoint == "main.field" %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle position-relative"
             id="cultivationDropdown"
             role="button"
             data-bs-toggle="dropdown"
             aria-expanded="false">
            Cultivation <span class="badge bg-green-50 translate-middle position-absolute">{{ "{year:d}".format(year=current_user.year) }}</span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="cultivationDropdown">
            <li>
              <h6 class="dropdown-header">Select a year:</h6>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            {% for year in current_user.get_years() %}
              <li>
                <form action="{{ url_for('main.set_year') }}", method="post">
                  {{ form.csrf_token() }}
                  {{ form.year(value=year)}}
                  {% if year == current_user.year %}
                    {{ form.submit(value=year, class="dropdown-item active") }}
                  {% else %}
                    {{ form.submit(value=year, class="dropdown-item") }}
                  {% endif %}
                </form>
              </li>
            {% endfor %}
          </ul>
        </li>
      {% endif %}
      <li class="nav-item">
        <button class="nav-link fw-500" id="resetToast">Messages</button>
      </li>
      {% if current_user.is_anonymous %}
        {{ render_nav_item("auth.login", "Login", _use_li=True) }}
      {% else %}
        {{ render_nav_item("main.user", "Profile", _use_li=True, username=current_user.username) }}
        {{ render_nav_item("auth.logout", "Logout", _use_li=True) }}
      {% endif %}
    </ul>
  </div>
</nav>
