{% from "bootstrap5/nav.html" import render_nav_item %}

<nav class="navbar nav-masthead sticky-top navbar-expand-lg navbar-dark p-2">
  <div class="d-flex flex-row">
    <button class="navbar-toggler"
            type="button"
            id="sidebarToggle"
            aria-expanded="false"
            aria-label="Toggle sidebar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand ps-2" href="{{ url_for('main.home') }}">AgroPlan</a>
  </div>
  <button class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse collapse" id="navbarNav">
    <ul class="navbar-nav">
      {{ render_nav_item("main.index", "Home", _use_li=True)}}
      {{ render_nav_item("main.preset", "Preset", _use_li=True) }}
    </ul>
    <ul class="navbar-nav ms-auto">
      {% if current_user.is_anonymous %}
        {{ render_nav_item("auth.login", "Login", _use_li=True) }}
      {% else %}
        {% if request.endpoint and request.endpoint == "main.index" or request.endpoint == "main.field" %}
          <li class="nav-item text-white">
            <form action="#" method="post">
              <div class="d-flex">
                {{ form_year.csrf_token }}
                <div class="pe-2 my-auto">Select Year:</div>
                <div class="col px-2">{{ form_year.year(class="form-select form-select-sm ") }}</div>
                <div class="px-2">{{ form_year.submit(class="btn btn-sm btn-secondary") }}</div>
              </div>
            </form>
          </li>
        {% endif %}
        {{ render_nav_item("main.user", "Profile", _use_li=True, username=current_user.username) }}
        {{ render_nav_item("auth.logout", "Logout", _use_li=True) }}
      {% endif %}
    </ul>
  </div>
</nav>
